.chip {
  background-color: #616161;
  color: white;
  transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
  display: inline-flex;
  padding: 0px 0px 0px 12px;
  margin: 2px 4px;
  border-radius: 24px;
  align-items: center;
  cursor: default;

  &--read {
    padding-left: 12px;
    padding-right: 12px;
  }

  &--clickable {
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media(max-width: 599px) {
  .chip {
    &--clickable {
      padding: 7px 14px;
    }
  }
}