<h3 class="sm-hide">
  {{'guess.title' | translate}}
</h3>

<mat-card *ngIf="!game || (game.gameState.state !== 'started' && game.gameState.state !== 'paused')" class="margin--bottom">
  <mat-card-content>
    <search-options [supportedLanguages]="supportedLanguages" [(searchOptions)]="searchOptions">
    </search-options>
  </mat-card-content>
  <mat-card-actions>
    <button class="stretch" mat-button (click)="startGame()">
      {{'guess.start' | translate}}
    </button>
  </mat-card-actions>
</mat-card>

<mat-card *ngIf="game && (game.gameState.state === 'started' || game.gameState.state === 'paused')">
  <mat-card-content>
    <div class="margin--bottom">
      <div class="flex-col flex-col">
        {{'guess.duration' | translate}}: {{formatMillis(game.duration)}}
        <span *ngIf="searchOptions.mode === 'by-time'">/ {{formatMinutes(searchOptions.minutes)}}</span>
        -
        {{'guess.words' | translate}}: {{game.amount}}
        <span *ngIf="searchOptions.mode === 'by-amount'">/ {{searchOptions.amount}}</span>
      </div>
    </div>
    <div class="flex margin--bottom sm-hide">
      <div class="flex-col flex-col--grow">
        <strong>{{'guess.last-repeat' | translate}}:</strong>
        <span *ngIf="!game.word || game.word.key.answerAt.getTime() === 0; else answerAtOk">
          {{'guess.never' | translate}}
        </span>
        <ng-template #answerAtOk>
          <span>
            {{game.word.key.answerAt | date:'dd.MM.yy H:mm'}}
          </span>
        </ng-template>
      </div>
      <div class="flex-col flex-col--grow align--right">
        <strong>{{'guess.current-level' | translate}}:</strong>
        <span *ngIf="game.word; else answerLevelUnknown">
          {{game.word.key.answerLevel}}
        </span>
        <ng-template #answerLevelUnknown>
          ?
        </ng-template>
      </div>
    </div>
    <div class="flex">
      <mat-card class="align--center flex-col flex-col--50 word-card">
        <mat-card-title *ngIf="game.word">
          {{game.word.key.question}}
        </mat-card-title>
        <mat-card-content *ngIf="game.word">
          <p>
            <strong>{{'guess.language' | translate}}:</strong>
            {{game.word.key.questionLanguage}}
          </p>
          <p *ngIf="game.word.key.tags.length > 0">
            <strong>{{'guess.tags' | translate}}:</strong>
            <chips [chips]="game.word.key.tags" mode="read"></chips>
          </p>
          <p *ngIf="game.word.key.meta">
            <strong>{{'guess.meta' | translate}}:</strong>
            {{game.word.key.meta}}
          </p>
        </mat-card-content>
        <mat-card-content *ngIf="!game.word" class="align--center">
          <div class="display--inline-block">
            <mat-spinner>
            </mat-spinner>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="align--center flex-col flex-col--50 word-card"
        [@guessed]="game.wordState.reason" (@guessed.start)="guessedAnimationStarted()" (@guessed.done)="guessedAnimationDone()">
        <mat-card-title *ngIf="game.word && (game.wordState.state === 'uncovered' || game.wordState.state === 'solved')">
          {{game.word.key.answer}}
        </mat-card-title>
        <mat-card-content *ngIf="game.word && (game.wordState.state === 'uncovered' || game.wordState.state === 'solved')">
          <p>
            <strong>{{'guess.language' | translate}}:</strong>
            {{game.word.key.answerLanguage}}
          </p>
          <p *ngIf="game.word.key.tags.length > 0">
            <strong>{{'guess.tags' | translate}}:</strong>
            <chips [chips]="game.word.key.tags" mode="read"></chips>
          </p>
        </mat-card-content>
        <mat-card-content *ngIf="!game.word || game.wordState.state === 'undefined' || game.wordState.state === 'covered'" class="align--center">
          <div class="display--inline-block">
            <mat-spinner>
            </mat-spinner>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div class="flex flex--row flex--align-center flex--justify-space-between">
      <key *ngIf="game.gameState.state === 'started'" [label]="'guess.pause' | translate" class="key-button flex-col flex-col--1" (click)="pauseGame()">
        <mat-icon>pause</mat-icon>
      </key>
      <key *ngIf="game.gameState.state === 'paused'" [label]="'guess.resume' | translate" class="key-button flex-col flex-col--1" (click)="resumeGame()">
        <mat-icon>play_arrow</mat-icon>
      </key>
      <key *ngIf="game.word && game.wordState.state === 'covered'" [label]="'guess.uncover' | translate" class="key-button flex-col flex-col--1 margin--left" (click)="uncoverWord()">
        <mat-icon class="sm-hide">keyboard_arrow_up</mat-icon>
        <mat-icon class="lg-hide">pageview</mat-icon>
      </key>
      <key *ngIf="game.word && game.wordState.state === 'uncovered'" [label]="'guess.cover' | translate" class="key-button flex-col flex-col--1 margin--left" (click)="coverWord()">
        <mat-icon class="sm-hide">keyboard_arrow_down</mat-icon>
        <mat-icon class="lg-hide">pageview</mat-icon>
      </key>
      <key *ngIf="game.word && game.wordState.state === 'uncovered'" [label]="'guess.wrong' | translate" class="key-button flex-col flex-col--1 margin--left" (click)="solveWrong()">
        <mat-icon class="sm-hide">keyboard_arrow_left</mat-icon>
        <mat-icon class="lg-hide">block</mat-icon>
      </key>
      <key *ngIf="game.word && game.wordState.state === 'uncovered'" [label]="'guess.right' | translate" class="key-button flex-col flex-col--1 margin--left" (click)="solveCorrect()">
        <mat-icon class="sm-hide">keyboard_arrow_right</mat-icon>
        <mat-icon class="lg-hide">check</mat-icon>
      </key>
    </div>
  </mat-card-actions>
  <mat-card-actions>
    <button mat-button (click)="stopGame()" class="stretch">
      {{'guess.stop' | translate}}
    </button>
  </mat-card-actions>
</mat-card>

<mat-card *ngIf="game && game.gameState.state === 'stopped'">
  <mat-card-title>
    {{'guess.finished' | translate}}
  </mat-card-title>
  <mat-card-content>
    <p *ngIf="game.gameState.reason === 'no-more-words'">
      {{'guess.no-more-words' | translate}}
    </p>
    <p *ngIf="game.gameState.reason === 'reached-amount'">
      {{'guess.reached-amount' | translate}}
    </p>
    <p *ngIf="game.gameState.reason === 'reached-minutes'">
      {{'guess.reached-minutes' | translate}}
    </p>
    <p>
      <strong>{{'guess.required-duration' | translate}}:</strong>
      {{formatMillis(game.duration)}}
    </p>
    <p>
      <strong>{{'guess.total-words' | translate}}:</strong>
      {{game.amount}}
    </p>
  </mat-card-content>
</mat-card>
