.panel {
  .form {
    display: flex;
    flex-direction: column;
  }
}

.word-type-tag {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__field {
    flex-grow: 0.3;
  }
}

@media(min-width: 600px) {
  .word-input {
    padding: 0 0.5em;
  }
}
