<div *ngIf="editedWordEntity" class="flex flex--no-margin flex--column">
  <ng-container>
    <div class="margin--bottom">
      <mat-checkbox class="flex-col" [(ngModel)]="dialogText" (ngModelChange)="dialogTextChanged()">
        {{'words.edit-word.is-text' | translate}}
      </mat-checkbox>
    </div>
    <div *ngIf="availableTags && availableTags.length > 0" class="margin--bottom">
      <h4 class="margin--top-0 margin--bottom">
        {{'words.edit-word.available-tags' | translate}}
      </h4>
      <chip *ngFor="let tag of availableTags" [chip]="tag" mode="read" (chipClicked)="onChipClicked($event)">
      </chip>
    </div>
    <div class="max-height-scroll--65">
      <text-edit
        *ngFor="let text of editedWordEntity.texts; let w=index"
        [wordEntity]="editedWordEntity"
        [text]="text"
        [textIndex]="w"
        [supportMultipleTexts]="supportMultipleTexts"
        [supportedLanguages]="supportedLanguages"
        (cursorPressed)="navigate($event)"
        (backspacePressed)="onBackspacePressed($event)"
        (enterPressed)="onEnterPressed($event)"
        (deleteText)="onDeleteText($event)">
      </text-edit>
    </div>

    <button *ngIf="supportMultipleTexts" mat-button (click)="onAddText()" class="sm-hide">
      <mat-icon>add</mat-icon>
      {{'actions.add' | translate}}
    </button>
  </ng-container>
</div>
