<div class="chip-input">
  <ng-container *ngIf="!hideChips">
    <ng-container *ngFor="let chip of chips">
      <mat-chip *ngIf="chip !== 'text'" class="chip-input__chip mat-basic-chip">
        {{chip}}
        <button mat-icon-button (click)="deleteChip(chip)" tabindex="-1">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-chip>
    </ng-container>
  </ng-container>
  <mat-form-field class="chip-input__input">
    <textarea #input matInput
      matTextareaAutosize
      matAutosizeMinRows="1"
      [placeholder]="placeholder"
      (keydown)="onKeyDown($event)"
      (keyup)="onKeyUp($event)"
      (keypress)="onKeyPress($event)"
      [(ngModel)]="value"
      (ngModelChange)="emitValueChange()"></textarea>
    <span matSuffix>
      <ng-content></ng-content>
    </span>
  </mat-form-field>
</div>
