<h3 class="sm-hide">
  {{'watch.title' | translate}}
</h3>

<mat-card *ngIf="!game || (game.gameState.state !== 'started' && game.gameState.state !== 'paused')" class="margin--bottom">
  <mat-card-content>
    <search-options [supportedLanguages]="supportedLanguages" [(searchOptions)]="searchOptions">
    </search-options>
  </mat-card-content>
  <mat-card-actions>
    <button class="stretch" mat-button (click)="startGame()">
      {{'watch.start' | translate}}
    </button>
  </mat-card-actions>
</mat-card>

<mat-card *ngIf="game && (game.gameState.state === 'started' || game.gameState.state === 'paused')">
  <mat-card-content>
    <div class="margin--bottom">
      <strong>{{'guess.duration' | translate}}:</strong>
      <span>
        {{formatMillis(game.duration)}}
      </span>
      <span *ngIf="searchOptions.mode === 'by-time'"> / {{formatMinutes(searchOptions.minutes)}}</span>
      -
      <strong>{{'guess.words' | translate}}:</strong>
      <span>
        {{game.amount}}
      </span>
      <span *ngIf="searchOptions.mode === 'by-amount'"> / {{searchOptions.amount}}</span>
    </div>
    <div class="margin--bottom">
      <strong>{{'guess.last-repeat' | translate}}:</strong>
      <span *ngIf="!game.word || game.word.key.answerAt.getTime() === 0; else answerAtOk">
        {{'guess.never' | translate}}
      </span>
      <ng-template #answerAtOk>
        <span>
          {{game.word.key.answerAt | date:'dd.MM.yy H:mm'}}
        </span>
      </ng-template>
      -
      <strong>{{'guess.current-level' | translate}}:</strong>
      <span *ngIf="game.word; else answerLevelUnknown">
        {{(game.word.key.answerLevel === -1 ? '?' : game.word.key.answerLevel)}}
      </span>
      <ng-template #answerLevelUnknown>
        ?
      </ng-template>
    </div>
    <div class="flex">
      <mat-card class="align--center flex-col flex-col--50 word-card"
        [@watched-left]="game.wordState.state"
        (click)="solveCorrect()">
        <mat-card-title *ngIf="game.word">
          {{game.word.key.question}}
        </mat-card-title>
        <mat-card-content *ngIf="game.word">
          <p class="sm-hide">
            <strong>{{'watch.language' | translate}}:</strong>
            {{game.word.key.questionLanguage}}
          </p>
          <p *ngIf="game.word.key.tags.length > 0">
            <strong>{{'watch.tags' | translate}}:</strong>
            <chips [chips]="game.word.key.tags" mode="read"></chips>
          </p>
          <p *ngIf="game.word.key.meta">
            <strong>{{'watch.meta' | translate}}:</strong>
            {{game.word.key.meta}}
          </p>
        </mat-card-content>
        <mat-card-content *ngIf="!game.word" class="align--center">
          <div class="display--inline-block">
            <mat-spinner diameter="50">
            </mat-spinner>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="align--center flex-col flex-col--50 word-card"
        [@watched-right]="game.wordState.state" (@watched-right.start)="animationStarted()" (@watched-right.done)="animationDone()"
        (click)="solveCorrect()">
        <mat-card-title *ngIf="game.word && (game.wordState.state === 'uncovered' || game.wordState.state === 'solved')">
          {{game.word.key.answer}}
        </mat-card-title>
        <mat-card-content *ngIf="game.word && (game.wordState.state === 'uncovered' || game.wordState.state === 'solved')">
          <p class="sm-hide">
            <strong>{{'watch.language' | translate}}:</strong>
            {{game.word.key.answerLanguage}}
          </p>
          <p *ngIf="game.word.key.tags.length > 0">
            <strong>{{'watch.tags' | translate}}:</strong>
            <chips [chips]="game.word.key.tags" mode="read"></chips>
          </p>
        </mat-card-content>
        <mat-card-content *ngIf="!game.word || game.wordState.state === 'undefined' || game.wordState.state === 'covered'" class="align--center">
          <div class="display--inline-block">
            <mat-spinner diameter="50">
            </mat-spinner>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div class="flex flex--align-center flex--justify-space-between" [class.flex--row]="!lefthandMode" [class.flex--row-reverse]="lefthandMode">
      <key *ngIf="game.gameState.state === 'started'" [label]="'watch.pause' | translate" class="key-button flex-col flex-col--1" (click)="pauseGame()">
        <mat-icon>pause</mat-icon>
      </key>
      <key *ngIf="game.gameState.state === 'paused'" [label]="'watch.resume' | translate" class="key-button flex-col flex-col--1" (click)="resumeGame()">
        <mat-icon>play_arrow</mat-icon>
      </key>
      <key *ngIf="game.gameState.state === 'paused'" [label]="'watch.stop' | translate" class="key-button flex-col flex-col--1" (click)="stopGame()">
        <mat-icon>stop</mat-icon>
      </key>
      <key *ngIf="game.gameState.state === 'started' && game.word && game.wordState.state === 'uncovered'" [label]="'watch.right' | translate" class="key-button flex-col flex-col--1 margin--left" (click)="solveCorrect()">
        <mat-icon class="sm-hide">keyboard_arrow_right</mat-icon>
        <mat-icon class="lg-hide">check</mat-icon>
      </key>
    </div>
  </mat-card-actions>
</mat-card>

<mat-card *ngIf="game && game.gameState.state === 'stopped'">
  <mat-card-title>
    {{'watch.finished' | translate}}
  </mat-card-title>
  <mat-card-content>
    <p *ngIf="game.gameState.reason === 'no-more-words'">
      {{'watch.no-more-words' | translate}}
    </p>
    <p *ngIf="game.gameState.reason === 'reached-amount'">
      {{'watch.reached-amount' | translate}}
    </p>
    <p *ngIf="game.gameState.reason === 'reached-minutes'">
      {{'watch.reached-minutes' | translate}}
    </p>
    <p>
      <strong>{{'watch.required-duration' | translate}}:</strong>
      {{formatMillis(game.duration)}}
    </p>
    <p>
      <strong>{{'watch.total-words' | translate}}:</strong>
      {{game.amount}}
    </p>
  </mat-card-content>
</mat-card>
