<div class="panel">
  <div class="form">
    <mat-radio-group [(ngModel)]="searchOptions.mode" (ngModelChange)="onPropertyChanged()" class="flex flex--align-center">
      <div class="flex-col flex-col--1 flex flex--row flex--align-center">
        <mat-radio-button #radioModeTime class="flex-col" value="by-time">
        </mat-radio-button>
        <mat-form-field class="flex-col--1 margin--right">
          <input matInput type="number"
            placeholder="{{'search-options.mode.time' | translate}}"
            [(ngModel)]="searchOptions.minutes"
            (ngModelChange)="onPropertyChanged()"
            (focus)="setMode('by-time')">
        </mat-form-field>
      </div>
      <div class="flex-col flex-col--1 flex flex--row flex--align-center">
        <mat-radio-button #radioModeWords class="flex-col align--right" value="by-amount">
        </mat-radio-button>
        <mat-form-field class="flex-col--1 margin--right">
          <input matInput type="number"
            placeholder="{{'search-options.mode.words' | translate}}"
            [(ngModel)]="searchOptions.amount"
            (ngModelChange)="onPropertyChanged()"
            (focus)="setMode('by-amount')">
        </mat-form-field>
      </div>
    </mat-radio-group>
    
    <div class="flex">
      <mat-form-field class="flex-col flex-col--1">
        <mat-select #typeSelect placeholder="{{'search-options.source-language' | translate}}" [(ngModel)]="searchOptions.sourceLanguage" (ngModelChange)="onPropertyChanged()">
          <mat-option
            *ngFor="let supportedLanguage of supportedLanguages"
            [value]="supportedLanguage">
            {{supportedLanguage | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      <button mat-button (click)="toggleLanguageDirection()" class="flex-col">
        <mat-icon *ngIf="searchOptions.searchLanguagesDirection === 'both' || searchOptions.searchLanguagesDirection === 'tts'">keyboard_arrow_left</mat-icon>
        <mat-icon *ngIf="searchOptions.searchLanguagesDirection === 'both' || searchOptions.searchLanguagesDirection === 'stt'">keyboard_arrow_right</mat-icon>
      </button>
        
      <mat-form-field class="flex-col flex-col--1">
        <mat-select #typeSelect placeholder="{{'search-options.target-language' | translate}}" [(ngModel)]="searchOptions.targetLanguage" (ngModelChange)="onPropertyChanged()">
          <mat-option
            *ngFor="let supportedLanguage of supportedLanguages"
            [value]="supportedLanguage">
            {{supportedLanguage | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="flex flex--align-center">
      <mat-checkbox class="flex-col" [(ngModel)]="searchOptions.searchLevelEnabled" (ngModelChange)="onPropertyChanged()"></mat-checkbox>
      <mat-form-field class="flex-col flex-col--1">
        <input matInput type="number"
          [placeholder]="'search-options.min-level' | translate"
          [(ngModel)]="searchOptions.searchLevelMinimum"
          (ngModelChange)="onPropertyChanged()">
      </mat-form-field>
  
      <mat-form-field class="flex-col flex-col--1">
        <input matInput type="number"
          [placeholder]="'search-options.max-level' | translate"
          [(ngModel)]="searchOptions.searchLevelMaximum"
          (ngModelChange)="onPropertyChanged()">
      </mat-form-field>
    </div>
  </div>
</div>
