<mat-toolbar class="app-navbar mat-elevation-z8 flex flex--row flex--no-margin">
  <a mat-button routerLink="/" class="sm-hide">
    <mat-icon>filter_9_plus</mat-icon>
    {{'app.title' | translate}}
  </a>
  <span class="lg-hide app-navbar-mobile">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span routerLink="/guess" routerLinkActive="sm-show" class="sm-hide">
      {{'nav.guess.title' | translate}}
    </span>
    <span routerLink="/type" routerLinkActive="sm-show" class="sm-hide">
      {{'nav.type.title' | translate}}
    </span>
    <span routerLink="/watch" routerLinkActive="sm-show" class="sm-hide">
      {{'nav.watch.title' | translate}}
    </span>
    <span routerLink="/words" routerLinkActive="sm-show" class="sm-hide">
      {{'nav.words.title' | translate}}
    </span>
    <span routerLink="/word-types" routerLinkActive="sm-show" class="sm-hide">
      {{'nav.word-types.title' | translate}}
    </span>
    <span routerLink="/statistics" routerLinkActive="sm-show" class="sm-hide">
      {{'nav.statistics.title' | translate}}
    </span>
    <span routerLink="/settings" routerLinkActive="sm-show" class="sm-hide">
      {{'nav.settings.title' | translate}}
    </span>
  </span>
  
  <button mat-button routerLink="/guess" class="sm-hide">
    {{'nav.guess.title' | translate}}
  </button>
  <button mat-button routerLink="/type" class="sm-hide">
    {{'nav.type.title' | translate}}
  </button>
  <button mat-button routerLink="/watch" class="sm-hide">
    {{'nav.watch.title' | translate}}
  </button>
  <button mat-button routerLink="/words" class="sm-hide">
    {{'nav.words.title' | translate}}
  </button>
  <button mat-button routerLink="/word-types" class="sm-hide">
    {{'nav.word-types.title' | translate}}
  </button>
  <button mat-button routerLink="/statistics" class="sm-hide">
    {{'nav.statistics.title' | translate}}
  </button>

  <div class="align--right flex-col flex-col--grow right">
    <button mat-icon-button (click)="toggleSynchronization()">
      <mat-icon *ngIf="!synchronizationEnabled">cloud_off</mat-icon>
      <mat-icon *ngIf="synchronizationEnabled" class="synchronization-enabled" [class.synchronization-running]="synchronizationRunning">cloud</mat-icon>
    </button>
    <button mat-button routerLink="/settings" class="sm-hide">
      <mat-icon>settings</mat-icon>
      {{'nav.settings.title' | translate}}
    </button>
    <button mat-icon-button routerLink="/settings" class="lg-hide">
      <mat-icon>settings</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="lg-hide" [(opened)]="sidenavOpened" [fixedInViewport]="true" [fixedTopGap]="56">
    <nav class="app-sidebar-nav">
      <button mat-button routerLink="/guess" (click)="sidenav.toggle()">
        {{'nav.guess.title' | translate}}
      </button>
      <button mat-button routerLink="/type" (click)="sidenav.toggle()">
        {{'nav.type.title' | translate}}
      </button>
      <button mat-button routerLink="/watch" (click)="sidenav.toggle()">
        {{'nav.watch.title' | translate}}
      </button>
      <button mat-button routerLink="/words" (click)="sidenav.toggle()">
        {{'nav.words.title' | translate}}
      </button>
      <button mat-button routerLink="/word-types" (click)="sidenav.toggle()">
        {{'nav.word-types.title' | translate}}
      </button>
      <button mat-button routerLink="/statistics" (click)="sidenav.toggle()">
        {{'nav.statistics.title' | translate}}
      </button>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <div *ngIf="loadingIndicatorVisible" class="loading-indicator">
      <mat-spinner></mat-spinner>
    </div>
    <section class="body">
      <router-outlet>
      </router-outlet>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
