<nav class="app-navbar margin--bottom mat-elevation-z8 flex flex--row flex--no-margin">
  <a mat-button routerLink="/">
    <mat-icon>filter_9_plus</mat-icon>
    {{'app.title' | translate}}
  </a>
  <a mat-button routerLink="/guess">
    {{'nav.guess.title' | translate}}
  </a>
  <a mat-button routerLink="/type">
    {{'nav.type.title' | translate}}
  </a>
  <a mat-button routerLink="/watch">
    {{'nav.watch.title' | translate}}
  </a>
  <a mat-button routerLink="/words">
    {{'nav.words.title' | translate}}
  </a>
  <a mat-button routerLink="/word-types">
    {{'nav.word-types.title' | translate}}
  </a>
  <a mat-button routerLink="/statistics">
    {{'nav.statistics.title' | translate}}
  </a>

  <div class="align--right flex-col flex-col--grow">
    <button mat-icon-button (click)="toggleSynchronization()">
      <mat-icon *ngIf="!isSyncing()">cloud_off</mat-icon>
      <mat-icon *ngIf="isSyncing()">cloud</mat-icon>
    </button>
    <a mat-button routerLink="/settings">
      <mat-icon>settings</mat-icon>
      {{'nav.settings.title' | translate}}
    </a>
  </div>
</nav>

<section class="body">
  <router-outlet>
  </router-outlet>
</section>
