<button *ngIf="translateConfigured" mat-icon-button (click)="showSuggestions($event)" [matTooltip]="'google-translate-button.tooltip' | translate">
  <mat-icon>remove_red_eye</mat-icon>
</button>

<ng-template #selectLanguageBottomSheetTemplate>
  <mat-list>
    <mat-list-item *ngFor="let lang of toLanguages">
      <button mat-button class="stretch" (click)="translateTo(lang)">
        {{'google-translate-button.translate-to.prefix' | translate}}{{lang | translate}}{{'google-translate-button.translate-to.suffix' | translate}}
        <mat-icon>translate</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</ng-template>

<ng-template #selectResultBottomSheetTemplate>
  <mat-list>
    <mat-list-item *ngFor="let alternative of result.alternatives">
      <button mat-button class="stretch" (click)="onTranslationClicked(alternative)">
        {{alternative.text}}
        <mat-icon [title]="'google-translate-button.select-translation' | translate">done</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</ng-template>
