<h3 class="sm-hide">
  {{'type.title' | translate}}
</h3>

<mat-card *ngIf="!game || (game.gameState.state !== 'started' && game.gameState.state !== 'paused')" class="margin--bottom">
  <mat-card-content>
    <search-options [supportedLanguages]="supportedLanguages" [(searchOptions)]="searchOptions">
    </search-options>
  </mat-card-content>
  <mat-card-actions>
    <button class="stretch" mat-button (click)="startGame()">
      {{'type.start' | translate}}
    </button>
  </mat-card-actions>
</mat-card>

<mat-card *ngIf="game && (game.gameState.state === 'started' || game.gameState.state === 'paused')">
  <mat-card-content>
    <div class="margin--bottom">
      <strong>{{'guess.duration' | translate}}:</strong>
      <span>
        {{formatMillis(game.duration)}}
      </span>
      <span *ngIf="searchOptions.mode === 'by-time'"> / {{formatMinutes(searchOptions.minutes)}}</span>
      -
      <strong>{{'guess.words' | translate}}:</strong>
      <span>
        {{game.amount}}
      </span>
      <span *ngIf="searchOptions.mode === 'by-amount'"> / {{searchOptions.amount}}</span>
    </div>
    <div class="margin--bottom">
      <strong>{{'guess.last-repeat' | translate}}:</strong>
      <span *ngIf="!game.word || game.word.key.answerAt.getTime() === 0; else answerAtOk">
        {{'guess.never' | translate}}
      </span>
      <ng-template #answerAtOk>
        <span>
          {{game.word.key.answerAt | date:'dd.MM.yy H:mm'}}
        </span>
      </ng-template>
      -
      <strong>{{'guess.current-level' | translate}}:</strong>
      <span *ngIf="game.word; else answerLevelUnknown">
        {{game.word.key.answerLevel}}
      </span>
      <ng-template #answerLevelUnknown>
        ?
      </ng-template>
    </div>
    <div class="flex margin--bottom">
      <mat-card class="align--center flex-col flex-col--50 word-card">
        <mat-card-title *ngIf="game.word">
          {{game.word.key.question}}
        </mat-card-title>
        <mat-card-content *ngIf="game.word">
          <p>
            <strong>{{'type.language' | translate}}:</strong>
            {{game.word.key.questionLanguage}}
          </p>
          <p *ngIf="game.word.key.tags.length > 0">
            <strong>{{'type.tags' | translate}}:</strong>
            <chips [chips]="game.word.key.tags" mode="read"></chips>
          </p>
          <p *ngIf="game.word.key.meta">
            <strong>{{'type.meta' | translate}}:</strong>
            {{game.word.key.meta}}
          </p>
        </mat-card-content>
        <mat-card-content *ngIf="!game.word" class="align--center">
          <div class="display--inline-block">
            <mat-spinner>
            </mat-spinner>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="align--center flex-col flex-col--50 word-card"
        [@typed]="answerState" (@typed.start)="typedAnimationStarted()" (@typed.done)="typedAnimationDone()">
        <mat-card-title *ngIf="game.word && (game.wordState.state === 'uncovered' || game.wordState.state === 'solved')">
          {{game.word.key.answer}}
        </mat-card-title>
        <mat-card-content *ngIf="game.word && (game.wordState.state === 'uncovered' || game.wordState.state === 'solved')">
          <p>
            <strong>{{'type.language' | translate}}:</strong>
            {{game.word.key.answerLanguage}}
          </p>
          <p *ngIf="game.word.key.tags.length > 0">
            <strong>{{'type.tags' | translate}}:</strong>
            <chips [chips]="game.word.key.tags" mode="read"></chips>
          </p>
        </mat-card-content>
        <mat-card-content *ngIf="!game.word || game.wordState.state === 'undefined' || game.wordState.state === 'covered'" class="align--center">
          <div class="display--inline-block">
            <mat-spinner>
            </mat-spinner>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="flex flex--column flex--no-margin">
      <mat-form-field>
        <input matInput #answerInput
          placeholder="{{'type.answer' | translate}}"
          [(ngModel)]="answer"
          (keypress)="onKeyPress($event)">
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div class="flex flex--row flex--align-center flex--justify-space-between">
      <key *ngIf="game.gameState.state === 'started'" [label]="'type.pause' | translate" class="key-button flex-col flex-col--1" (click)="pauseGame()">
        <mat-icon>pause</mat-icon>
      </key>
      <key *ngIf="game.gameState.state === 'paused'" [label]="'type.resume' | translate" class="key-button flex-col flex-col--1" (click)="resumeGame()">
        <mat-icon>play_arrow</mat-icon>
      </key>
      <key *ngIf="game.gameState.state === 'paused'" [label]="'type.stop' | translate" class="key-button flex-col flex-col--1" (click)="stopGame()">
        <mat-icon>stop</mat-icon>
      </key>
      <key *ngIf="game.gameState.state === 'started' && game.word && game.wordState.state === 'covered' && answerState === 'undefined'" [label]="'type.uncover' | translate" class="key-button flex-col flex-col--1 margin--left" (click)="uncoverWord()">
        <mat-icon class="sm-hide">keyboard_arrow_up</mat-icon>
        <mat-icon class="lg-hide">pageview</mat-icon>
      </key>
      <key *ngIf="game.gameState.state === 'started' && game.word && game.wordState.state === 'uncovered' && answerState === 'undefined'" [label]="'type.cover' | translate" class="key-button flex-col flex-col--1 margin--left" (click)="coverWord()">
        <mat-icon class="sm-hide">keyboard_arrow_down</mat-icon>
        <mat-icon class="lg-hide">pageview</mat-icon>
      </key>
      <key *ngIf="game.gameState.state === 'started' && game.word && game.wordState.state === 'uncovered' && answerState === 'partially-correct'" [label]="'type.wrong' | translate" class="key-button flex-col flex-col--1 margin--left" (click)="solveWrong()">
        <mat-icon class="sm-hide">keyboard_arrow_left</mat-icon>
        <mat-icon class="lg-hide">block</mat-icon>
      </key>
      <key *ngIf="game.gameState.state === 'started' && game.word && game.wordState.state === 'uncovered' && answerState === 'partially-correct'" [label]="'type.right' | translate" class="key-button flex-col flex-col--1 margin--left" (click)="solveCorrect()">
        <mat-icon class="sm-hide">keyboard_arrow_right</mat-icon>
        <mat-icon class="lg-hide">check</mat-icon>
      </key>
    </div>
  </mat-card-actions>
</mat-card>

<mat-card *ngIf="game && game.gameState.state === 'stopped'">
  <mat-card-title>
    {{'type.finished' | translate}}
  </mat-card-title>
  <mat-card-content>
    <p *ngIf="game.gameState.reason === 'no-more-words'">
      {{'type.no-more-words' | translate}}
    </p>
    <p *ngIf="game.gameState.reason === 'reached-amount'">
      {{'type.reached-amount' | translate}}
    </p>
    <p *ngIf="game.gameState.reason === 'reached-minutes'">
      {{'type.reached-minutes' | translate}}
    </p>
    <p>
      <strong>{{'type.required-duration' | translate}}:</strong>
      {{formatMillis(game.duration)}}
    </p>
    <p>
      <strong>{{'type.total-words' | translate}}:</strong>
      {{game.amount}}
    </p>
  </mat-card-content>
</mat-card>
