.chips {
  
  &__chip {
    margin: 0 8px 0 0;
    background-color: #616161;
    color: white;
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: inline-flex;
    padding: 0px 12px;
    border-radius: 24px;
    align-items: center;
    cursor: default;
  }
}