<div class="flex flex--no-margin flex--align-center margin--top margin--bottom">
  <h3 class="flex-col padding--right margin--0">
    {{'words.title' | translate}}
  </h3>
  <div class="flex-col flex-col--1 padding--left">
    <mat-form-field *ngIf="queryAvailable" class="stretch mat-input--no-margin" floatLabel="never">
      <input matInput
        placeholder="{{'words.search' | translate}}"
        [(ngModel)]="query"
        (ngModelChange)="onQueryChanged()">
      <span matSuffix>
        <button mat-icon-button (click)="onHelpQuery()" matTooltip="{{'words.search-help' | translate}} {{queryHelpFields.join(', ')}}">
          <mat-icon>help</mat-icon>
        </button>
        <button mat-icon-button (click)="onClearQuery()">
          <mat-icon>clear</mat-icon>
        </button>
      </span>
    </mat-form-field>
  </div>
  <div class="flex-col padding--left">
    <button mat-button (click)="createWordEntity()" class="stretch">
      <mat-icon>add</mat-icon>
      {{'actions.create' | translate}}
    </button>
  </div>
</div>

<ul class="ul--nostyle">
  <li class="header-row">
    <div class="header-wrapper">
      <div class="flex flex--no-margin flex--align-center stretch">
        <ng-container *ngFor="let lang of supportedLanguages">
          <div class="flex-col flex-col--1 overflow--hidden word-wrap--break-word white-space--normal flex flex--no-margin flex--align-center"
            [class.cursor--pointer]="query === ''"
            (click)="sortBy(lang)">
            <span>{{lang | translate}}</span>
            <mat-icon *ngIf="sorting.property === lang && !sorting.descending">arrow_upward</mat-icon>
            <mat-icon *ngIf="sorting.property === lang && sorting.descending">arrow_downward</mat-icon>
          </div>
        </ng-container>
        <div class="flex-col flex-col--17 align--center overflow--hidden word-wrap--break-word white-space--normal flex flex--no-margin flex--align-center flex--justify-center"
          [class.cursor--pointer]="query === ''"
          (click)="sortBy('tags')">
          <span>{{'words.tags' | translate}}</span>
          <mat-icon *ngIf="sorting.property === 'tags' && !sorting.descending">arrow_upward</mat-icon>
          <mat-icon *ngIf="sorting.property === 'tags' && sorting.descending">arrow_downward</mat-icon>
        </div>
      </div>
      <span class="mat-expansion-indicator"></span>
    </div>
  </li>
  <li *ngFor="let wordEntity of wordEntities">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <div class="flex flex--no-margin flex--align-center stretch">
          <ng-container *ngFor="let text of wordEntity.texts">
            <ng-container *ngFor="let lang of supportedLanguages">
              <div class="flex-col flex-col--1 overflow--hidden word-wrap--break-word white-space--normal word">
                {{text.words[lang] && text.words[lang].value}}
                <google-translate-button [from]="lang" [to]="supportedLanguages" [text]="text.words[lang].value">
                </google-translate-button>
              </div>
            </ng-container>
            <div class="flex-col flex-col--17 align--center overflow--hidden word-wrap--break-word white-space--normal">
              <chips [mode]="'read'" [(chips)]="text.tags"></chips>
            </div>
          </ng-container>
        </div>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <word-edit #wordEdit
          [wordTypeEntities]="wordTypeEntities"
          [supportedLanguages]="supportedLanguages"
          [wordEntity]="wordEntity"
          (wordSaved)="saveWordEntity($event)">
        </word-edit>
        
        <div class="flex">
          <div class="flex-col flex-col--grow">
            <button mat-button (click)="deleteWordEntity(wordEntity)">
              <mat-icon>delete</mat-icon>
              {{'actions.delete' | translate}}
            </button>
          </div>
          <div class="flex-col">
            <button mat-button (click)="saveWordEntity(wordEdit.editedWordEntity)">
              <mat-icon>done</mat-icon>
              {{'actions.save' | translate}}
            </button>
          </div>
        </div>
      </ng-template>
    </mat-expansion-panel>
  </li>
  <li *ngIf="wordEntitiesNextKey !== undefined" class="margin--top">
    <button mat-button class="stretch" (click)="loadWordEntities()">
      <mat-icon>refresh</mat-icon>
      {{'actions.more' | translate}}
    </button>
  </li>
</ul>
