<mat-card class="panel margin-bottom">
  <mat-card-title>Edit word type</mat-card-title>
  <mat-card-content class="form">
    <mat-form-field>
      <input matInput placeholder="Title" [(ngModel)]="wordTypeEntity.title">
    </mat-form-field>
    <chip-input
      [(value)]="editWordTypeTag"
      [(chips)]="wordTypeEntity.tags"
      placeholder="Tags">
    </chip-input>
  </mat-card-content>
  <mat-card-actions>
    <div class="flex">
      <div class="flex-col flex-col--grow">
        <button *ngIf="wordTypeEntity._id" mat-button (click)="onDelete()">
          <mat-icon>delete</mat-icon>
          {{'actions.delete' | translate}}
        </button>
      </div>
      <div class="flex-col">
        <button mat-button (click)="onCancel()">
          <mat-icon>cancel</mat-icon>
          {{'actions.cancel' | translate}}
        </button>
        <button mat-button (click)="onSave()">
          <mat-icon>done</mat-icon>
          {{'actions.save' | translate}}
        </button>
      </div>
    </div>
  </mat-card-actions>
</mat-card>