.word-button {
  line-height: 24px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.header-row {
  padding: 6px 0;
}

.flex-cell-15 {
  flex: initial;
  flex-basis: 15%;
}

.flex-cell-5 {
  flex: initial;
  flex-basis: 5%;
}
