<h3 class="sm-hide">
  {{'word-types.title' | translate}}
</h3>

<div class="flex">
  <div class="flex-col flex-col--50">
    <mat-card class="margin--bottom">
      <mat-card-content>
        <ul class="ul--nostyle">
          <li *ngFor="let wordTypeEntity of wordTypeEntities">
            <button mat-button (click)="editWordTypeEntity(wordTypeEntity)" class="stretch align--left">
              {{wordTypeEntity.title}}
              <mat-icon>create</mat-icon>
            </button>
          </li>
        </ul>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="createWordTypeEntity()" class="stretch">
          <mat-icon>add</mat-icon>
          {{'actions.create' | translate}}
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="flex-col flex-col--50">
    <word-type-edit *ngIf="editedWordTypeEntity" [wordTypeEntity]="editedWordTypeEntity" (wordTypeSaved)="wordTypeEntitySaved($event)"
      (wordTypeCancelled)="wordTypeEditCancelled()" (wordTypeDeleted)="wordTypeEntityDeleted()">
    </word-type-edit>
  </div>
</div>

