<div class="flex flex--no-margin flex--column">
  <mat-form-field>
    <mat-select #typeSelect placeholder="Type" [(ngModel)]="editedWordEntity.type">
      <mat-option
        *ngFor="let wordTypeEntity of wordTypeEntities"
        [value]="wordTypeEntity">
        {{wordTypeEntity.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <ng-container *ngIf="editedWordEntity.type">
    <div class="flex flex--align-center flex--wrap">
      <h4 class="margin--right">
        {{'words.edit-word.available-tags' | translate}}
      </h4>
      <ul class="ul--nostyle ul--horizontal-wrap margin--bottom">
        <li *ngFor="let tag of editedWordEntity.type.tags" class="margin--right">
          #{{tag}}
        </li>
      </ul>
    </div>
    <ng-container *ngFor="let text of editedWordEntity.texts; let w=index">
      <div class="flex flex--wrap">
        <div class="flex-col flex-col--5">
          <button mat-icon-button (click)="onDeleteText(text)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        
        <ng-container *ngFor="let lang of supportedLanguages; let l=index">
          <div #chipInputWrapper
            [attr.data-row]="w"
            [attr.data-col]="l"
            class="flex-col flex-col--25">
            <chip-input
              [(value)]="text.words[lang].value"
              [(chips)]="text.tags"
              [allowedChips]="editedWordEntity.type.tags"
              [hideChips]="true"
              [placeholder]="lang | translate"
              (cursorPressed)="navigate(chipInputWrapper, $event)"
              (backspacePressed)="onBackspacePressed(chipInputWrapper, text)"
              (enterPressed)="onEnterPressed(chipInputWrapper, text)">
            </chip-input>
          </div>
        </ng-container>

        <div #chipInputWrapper
          [attr.data-row]="w"
          [attr.data-col]="supportedLanguages.length"
          class="flex-col flex-col--15 flex-col--grow">
          <chip-input
            [(value)]="text.meta"
            [(chips)]="text.tags"
            [allowedChips]="editedWordEntity.type.tags"
            [hideChips]="true"
            [placeholder]="'words.edit-word.meta' | translate"
            (cursorPressed)="navigate(chipInputWrapper, $event)"
            (enterPressed)="onEnterPressed(chipInputWrapper, text)">
          </chip-input>
        </div>

        <div class="flex-col flex-col--15 align--center margin--bottom">
          <chips [(chips)]="text.tags"></chips>
        </div>
      </div>
    </ng-container>

    <button mat-button (click)="onAddText()">
      <mat-icon>add</mat-icon>
      {{'actions.add' | translate}}
    </button>
  </ng-container>
</div>
