<div class="flex">
  <div class="flex-col flex-col--50">
    <mat-card class="margin--bottom">
      <mat-card-title>{{'words.title' | translate}}</mat-card-title>
      <mat-card-content>
        <ul class="ul--nostyle">
          <li class="header-row">
            <div class="flex flex--align-center">
              <ng-container *ngFor="let lang of supportedLanguages">
                <div class="flex-col flex-col--1 overflow--hidden word-wrap--break-word white-space--normal">
                  {{lang | translate}}
                </div>
              </ng-container>
              <div class="flex-col flex-col--15 align--center overflow--hidden word-wrap--break-word white-space--normal">
                Tags
              </div>
              <div class="flex-col flex-col--15 align--center overflow--hidden word-wrap--break-word white-space--normal">
                Type
              </div>
              <div class="flex-col flex-col--5 align--center overflow--hidden word-wrap--break-word white-space--normal">
              </div>
            </div>
          </li>
          <li *ngFor="let wordEntity of wordEntities">
            <button mat-button (click)="editWordEntity(wordEntity)" class="stretch align--left word-button">
              <div class="flex flex--align-center">
                <ng-container *ngFor="let text of wordEntity.texts">
                  <ng-container *ngFor="let lang of supportedLanguages">
                    <div class="flex-col flex-col--1 overflow--hidden word-wrap--break-word white-space--normal">
                      {{text.words[lang].value}}
                    </div>
                  </ng-container>
                  <div class="flex-col flex-col--15 align--center overflow--hidden word-wrap--break-word white-space--normal">
                    <chips [mode]="'read'" [(chips)]="text.tags"></chips>
                  </div>
                </ng-container>
                <div class="flex-col flex-col--15 overflow--hidden word-wrap--break-word align--center white-space--normal">
                  {{wordEntity.type.title}}
                </div>
                <div class="flex-col flex-col--5 overflow--hidden word-wrap--break-word align--center white-space--normal">
                  <mat-icon>create</mat-icon>
                </div>
              </div>
            </button>
          </li>
        </ul>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="createWordEntity()" class="stretch">
          <mat-icon>add</mat-icon>
          {{'actions.create' | translate}}
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="flex-col flex-col--50">
    <word-edit
      *ngIf="editedWordEntity"
      [wordTypeEntities]="wordTypeEntities"
      [supportedLanguages]="supportedLanguages"
      [wordEntity]="editedWordEntity"
      (wordsSaved)="wordEntitiesSaved($event)"
      (wordDeleted)="wordEntityDeleted()"
      (wordCancelled)="wordEntityCancelled()">
    </word-edit>
  </div>
</div>
