.word-button {
  line-height: 24px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.header-row {
  padding: 0 24px;
  height: 48px;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.7);

  .header-wrapper {
    display: flex;
    flex: 1;

    .mat-expansion-indicator {
      visibility: hidden;
    }
  }
}

.flex-cell-15 {
  flex: initial;
  flex-basis: 15%;
}

.flex-cell-5 {
  flex: initial;
  flex-basis: 5%;
}
