<h3>
  {{'settings.title' | translate}}
</h3>

<mat-card class="margin--bottom">
  <mat-card-title>
    {{'settings.app' | translate}}
  </mat-card-title>
  <mat-card-content>
    <div class="flex flex--column flex--no-margin">
      <mat-form-field>
        <input matInput [(ngModel)]="appSettings.appLanguage" [placeholder]="'settings.app-language' | translate">
      </mat-form-field>
    </div>
    
    <ul class="ul--nostyle">
      <li *ngFor="let language of appSettings.userLanguages">
        <div class="flex flex--align-center">
          <div class="flex-col flex-col--1 overflow--hiden word-wrap--break-word white-space--normal">
            {{language.iso | translate}} ({{language.iso}})
          </div>
          <div class="flex-col">
            <button mat-icon-button (click)="deleteLanguage($event, language)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </li>
      <li>
        <div class="flex flex--align-center">
          <div class="flex-col flex-col--1 flex flex--column flex--no-margin">
            <mat-form-field>
              <input matInput [(ngModel)]="language" (keyup)="onLanguageKeyUp($event)">
            </mat-form-field>
          </div>
          <div class="flex-col">
            <button mat-icon-button (click)="addLanguage($event)">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
      </li>
    </ul>
    
    <div class="flex flex--column flex--no-margin">
      <mat-form-field>
        <input matInput
          [(ngModel)]="appSettings.backendUrl"
          [placeholder]="'settings.backend-base-url' | translate">
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-actions class="align--right">
    <button mat-button (click)="onSaveAppSettings()">
      <mat-icon>done</mat-icon>
      {{'actions.save' | translate}}
    </button>
  </mat-card-actions>
</mat-card>

<mat-card class="margin--bottom">
  <mat-card-title>
    {{'settings.database' | translate}}
  </mat-card-title>
  <mat-card-content>
    <div class="flex flex--column flex--no-margin">
      <mat-form-field>
        <input matInput
          [(ngModel)]="databaseSettings.databaseName"
          [placeholder]="'settings.database-name' | translate">
      </mat-form-field>
      <mat-form-field>
        <input matInput
          [(ngModel)]="databaseSettings.couchDbUrl"
          [placeholder]="'settings.database-couchdb-url' | translate">
      </mat-form-field>
      <mat-form-field>
        <input matInput
          [(ngModel)]="databaseSettings.couchDbLuceneUrl"
          [placeholder]="'settings.database-couchdb-lucene-url' | translate">
      </mat-form-field>
      <mat-checkbox [(ngModel)]="databaseSettings.enableSynchronization">
        {{'settings.database-synchronization' | translate}}
      </mat-checkbox>
    </div>
  </mat-card-content>
  <mat-card-actions class="align--right">
    <button mat-button (click)="onSaveDatabaseSettings()">
      <mat-icon>done</mat-icon>
      {{'actions.save' | translate}}
    </button>
  </mat-card-actions>
</mat-card>
